h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align:center;
    margin: 20px auto;
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}
h1:nth-of-type(3n) {
    background-color: #f4a261;
}
h1:nth-of-type(4n) {
    background-color: #e76f51;
}


section:first-of-type h1:nth-of-type(1) {
    /* transform-origin: top right; */
    
    /* Rotates the h1 45 degrees */
    transform: rotate(45deg);

}

section:first-of-type h1:nth-of-type(2) {
    
    /* Scales the h1 by a factor of 2 (AKA double its size), but the width is the same
    since it is x,y */
    transform: scale(2, 1);

}
section:first-of-type h1:nth-of-type(3) {
    
    /* Moves the 3rd h1 200 px in the x direction (right) */
    transform: translateX(200px);

}
section:first-of-type h1:nth-of-type(4) {
    
    /* Note: translate() is short hand for x and y, so it is better
    to use this to translate instead of individual translate(dim) (#) */
    transform: translate(-100px, 50px);

}

section:nth-of-type(2) h1:nth-of-type(1) {
    
    transform: skew(30deg);

}
section:nth-of-type(2) h1:nth-of-type(2) {
    /* Note: Skew affects the magnitude an element is squished or stretched, but
    this is not very useful */
    transform: skew(10deg, 5deg);

}
section:nth-of-type(2) h1:nth-of-type(3) {
    /* Note: You can keep adding as many properties by just adding a space in b/n
    every property in "transform" */
    transform: rotate(-20deg) scale(1.3);

}
section:nth-of-type(2) h1:nth-of-type(4) {
    transform: translateX(-500px) rotate(.5turn) scaleY(1.5);

}

section:nth-of-type(2) {
    /* Note: See how if an element gets altered, then all of its children
    will inherit the transformation as well */
    transform: scale(.7) translateX(500px);
}